
KAGGLE_USERNAME=
KAGGLE_KEY=
MONGO_DB="mongodb+srv://coodesh:LmEvdpCGFNMasToO@gotamagica-cluster.tosaw.mongodb.net/data_covid?retryWrites=true&w=majority"
DATABASE="data_covid"
COLLECTION="variants"
HEADER="metadata"
PORT=7000
